<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>German Jazz</title>
    <link rel="icon" src="../public/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <a href="/">German Jazz</a>
    </header>
    <section class="album_list">

      {{{yield}}}

    </section>
    <footer>
      &copy DEj Records
      <script type="text/javascript"></script>
    </footer>
  </body>
</html>
